* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #69bbb5;
    color: white;
    height: 100%;
    text-align: center;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content {
    flex: 1 0 auto;
}

#content .greeting {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    padding-top: 50px;
    max-width: 750px;
    line-height: 35px;
    margin: 0 auto;
}

#content .circle {
    width: 400px;
    height: 400px;
    background-color: #787f7e;
    border-radius: 50%;
    font-family: 'Mukta', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#content .mail {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 25px;
    line-height: 80px;
}

#footer {
    flex: 0 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

#footer a {
    margin: 10px;
}

#footer a img {
    width: 100px;
}