* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #69bbb5;
    color: white;
    height: 100%;
    text-align: center;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content {
    flex: 1 0 auto;
}

#content .greeting {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    padding-top: 25px;
    max-width: 950px;
    line-height: 35px;
    margin: 0 auto;
}

#content .square {
    width: 30vw;
    height: 45vh;
    background-color: #787f7e;
    font-family: 'Mukta', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 40px;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#content .mail {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    font-weight: 200;
    font-size: 25px;
    text-decoration: none;
}

#content .mail:hover {
    color: #69bbb5;
}

#footer {
    flex: 0 0 auto;
    text-align: center;
    padding-bottom: 25px;
}

#footer a {
    margin: 10px;
}

#footer a img {
    width: 100px;
}